.about {
	background-color: var(--bg-color-secondary);
}

.about__inner {
	max-width: 790px;
	text-align: center;
	margin-inline: auto;
	padding-block: 56px 98px;
}

.about__title {
	margin-bottom: 42px;
}

.about__subtitle {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}

.about__desc {
	font-weight: 500;
}

.divider {
	max-width: 420px;
	height: 2px;
	margin: 16px auto;
	background-color: var(--color-black);
}

@media (max-width: 480px) {
	.about__inner {
		padding-block: 50px 62px;
	}

	.about__subtitle {
		margin-bottom: 14px;
	}

	.divider {
		margin-block: 20px 28px;
	}
}
