.home__inner {
	text-align: center;
	padding-block: 46px 70px;
}

.home__title {
	font-size: 45px;
	margin-bottom: 22px;
}

.home__desc {
	margin-bottom: 36px;
}

@media (max-width: 480px) {
	.home__inner {
		text-align: left;
		padding-block: 66px 78px;
	}

	.home__title {
		max-width: 240px;
		font-size: 32px;
		margin-bottom: 24px;
	}

	.home__desc {
		font-size: 14px;
		margin-bottom: 28px;
	}
}
