.home {
	text-align: center;
}

.home__title {
	font-size: 45px;
	margin-block: 46px 22px;
}

.home__desc {
	margin-bottom: 36px;
}

@media (max-width: 480px) {
	.home {
		text-align: left;
	}

	.home__title {
    max-width: 240px;
    font-size: 32px;
    margin-block: 66px 24px;
	}

	.home__desc {
		font-size: 14px;
    margin-bottom: 28px;
	}
}
